* {
    font-family: Helvetica, sans-serif;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

div#outer {
    /* Helps in centering content vertically */
    position: relative;
    height: 100vh;
}

div#content {
    /* Centers content vertically */
    width: 100%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
}

/* Style for input field and search button */
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
}

input[type=submit] {
    padding:14px 22px;
    box-sizing: border-box;
    background-color: rgb(192, 192, 192);
    text-decoration: none;
    border: none;
}

/* For graph.html */

#outer-container {
    width: 100%; 
    text-align:center;
}

#chart-container {
    height: 50%; 
    max-height: 600px; 
    margin: 0 auto; 
    padding: 0px 10%;
}

canvas#graph {
    height: 100%; 
    width: 100%
}

/* Mobile devices will have no padding around chart */
@media screen and (max-width: 600px) {
    #chart-container {
        padding: 0px 0px 0px 0px;
    } 
}
